@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("/asserts/fonts/TTLakes-Bold.woff") format("woff"), url("/asserts/fonts/TTLakes-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("/asserts/fonts/TTLakes-Medium.woff") format("woff"),
    url("/asserts/fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("/asserts/fonts/TTLakes-Regular.woff") format("woff"),
    url("/asserts/fonts/TTLakes-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "TTLakes";
  background-color: #f8f8f8;
}

.header-page {
  background-color: white;
}

.header-page__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 320px;
}

.header-page {
  max-height: 88px;
  border-bottom: 1px solid #d9fff5;
}

.header-page__l-block {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin: 18px 0 18px 16px;
}

.header-page__r-block {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
}

.header-page__r-block button {
  margin-right: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-page__burger {
  border: none;
  background: url("/asserts/img/burger.svg") no-repeat;
  margin-right: 16px;
}

.header-page__logo {
  width: 100px;
  height: 52px;
  background: url("/asserts/img/logo.png") no-repeat;
  position: relative;
}

.header-page__link {
}

.header-page__call {
  border: none;
  background: url("/asserts/img/call.svg") no-repeat;
}

.header-page__chat {
  border: none;
  background: url("/asserts/img/chat.svg") no-repeat;
}

.header-page__profile {
  border: none;
  background: url("/asserts/img/profile.svg") no-repeat;
  padding-right: 54px;
}

.header-page__repair {
  border: none;
  background: url("/asserts/img/repair.svg") no-repeat;
  position: relative;
}

.header-page__repair::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  position: absolute;
  top: 10%;
  left: -20px;
}

.header-page__checkstatus {
  border: none;
  background: url("/asserts/img/checkstatus.svg") no-repeat;
}

.main-page__content-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-page__title {
  display: inline-block;
  margin: 24px 16px;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.2px;
}

.main-page__header {
  position: relative;
}

.main-page__header::before {
  content: "";
  width: 2px;
  height: 40px;
  background-color: #41f6d7;
  position: absolute;
  top: 24px;
}

.main-page__menu {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 16px;
  overflow: auto;
}

.main-page__item {
  font-family: "TTLakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  font-weight: 500;
  padding: 0;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  padding: 8px 9px 8px 16px;
  cursor: pointer;
}

.main-page__item--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.main-page__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 24px 16px 0 16px;
}

.main-page__all-text {
  display: inline-block;
  max-height: 90px;
  overflow: hidden;
}

.main-page__read {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
}

.main-page__read::before {
  content: "";
  background: url("/asserts/img/expand.svg") no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
}

.main-page__img-content {
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.main-page__button {
  padding: 0;
  border: none;
  background: #f8f8f8;
  font-size: 16px;
  font-weight: 24px;
  letter-spacing: -0.2px;
  font-family: "TTLakes";
  font-weight: 500;
  position: relative;
  margin-right: 24px;
  padding-right: 48px;
  float: right;
  top: 52px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .icon--vision--hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-page__container {
    max-width: 768px;
  }

  .main-page__content-block {
    max-width: 768px;
  }

  .main-page__title {
    margin: 25px 24px;
  }

  .header-page__l-block {
    margin: 18px 0 18px 24px;
  }

  .header-page__burger {
    padding-right: 58px;
  }

  .header-page__logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    position: absolute;
    top: 10px;
    left: -20px;
  }

  .main-page__menu {
    margin-left: 22px;
  }

  .main-page__content {
    display: flex;
  }

  .main-page__text {
    line-height: 20px;
    margin: 24px 48px 10px 22px;
  }

  .main-page__all-text {
    max-height: 160px;
  }

  .main-page__img-content {
    width: 360px;
    height: 208px;
  }
}

@media only screen and (max-width: 1119px) {
  .main-page__button {
    display: none;
  }
}

@media only screen and (min-width: 1120px) {
  .main-page__content-block {
    max-width: 1120px;
  }

  .header-page {
    display: none;
  }

  .main-page__title {
    margin: 42px 0 8px 32px;
  }

  .main-page__header::before {
    content: "";
    width: 2px;
    height: 40px;
    background-color: #41f6d7;
    position: absolute;
    top: 42px;
  }

  .main-page__menu {
    flex-wrap: wrap;
    margin-left: 32px;
  }

  .main-page__link {
    padding: 8px 21px 8px 22px;
  }

  .main-page__text {
    margin: 24px 36px 13px 34px;
  }

  .main-page__img-content {
    width: 531px;
    height: 307px;
  }

  .main-page__icon--repair--active::after {
    content: "";
    background: url("/asserts/img/repair.svg") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: -10px;
  }

  .main-page__icon--checkstatus--active::after {
    content: "";
    background: url("/asserts/img/checkstatus.svg") no-repeat;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: -10px;
  }
}
