.header-page {
  background-color: $bgElements;
  max-height: 88px;
  border-bottom: 1px solid #d9fff5;

  &__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__l-block {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin: 18px 0 18px 16px;
  }

  &__r-block {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__r-block button {
    margin-right: 16px;
  }

  .icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__burger {
    background: $bgIconBurger;
    margin-right: 16px;
  }

  &__logo {
    @extend %logo;
    position: relative;
  }

  @media only screen and (max-width: 767px) {
    .icon--hidden {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    &__l-block {
      margin: 18px 0 18px 24px;
    }

    &__burger {
      padding-right: 58px;
    }

    &__logo::before {
      content: "";
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      position: absolute;
      top: 10px;
      left: -20px;
    }
  }

  @media only screen and (min-width: 1120px) {
    display: none;
    &__container {
      max-width: 1120px;
    }
  }
}
