// colors
$bgColor: #f8f8f8;
$bgElements: white;
$bgButton: #ff3e79;
$bgBefore: #41f6d7;

// icons
$bgIconClose: url("../img/icon/close.svg") 50% 50%;
$bgIconSearch: url("../img/icon/search.svg") 50% 50%;
$bgIconCall: url("../img/icon/call.svg") no-repeat;
$bgIconChat: url("../img/icon/chat.svg") no-repeat;
$bgIconProfile: url("../img/icon/profile.svg") no-repeat;
$bgIconBurger: url("../img/icon/burger.svg") no-repeat;
$bgIconRepair: url("../img/icon/repair.svg") no-repeat;
$bgIconCheck: url("../img/icon/checkstatus.svg") no-repeat;
$bgIconExpand: url("../img/icon/expand.svg") no-repeat;
$bgIconGo: url("../img/icon/go.svg") no-repeat;
$bgOrder: url("../img/icon/order.svg") no-repeat;
$bgIconGoside: url("../img/icon/goside.svg") no-repeat;
$bgIconMore: url("../img/icon/more.svg") no-repeat;

// width
$wMin: 320px;
$wMid: 768px;
$wMax: 1440px;

// template
//icon_button
%icon_button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

// logo
%logo {
    background: url("../img/icon/logo.png") no-repeat;
    width: 100px;
    height: 52px;
    margin-right: auto;
}